<% /* %> 
 ***************************************************************************
 * Author : Mame Astou Gassama 
 * Last Modified : 21 February 2022
 * Description : This is the main page of The project
 * 
 * Copyright (C) ,2022 Umar  <jUmarB@protonmail.com>
 ***************************************************************************
<% */ %>

<div class="footer">
                Institut Pasteur de Dakar, SENEGAL - © 2022
            </div>
        </div>
    </body>
<%- include("./script/bcgen.ejs")%>   
