<% /* %> 
 ***************************************************************************
 * Author : Mame Astou Gassama 
 * Last Modified : 21 February 2022
 * Description : This is the main page of The project
 * 
 * Copyright (C) ,2022 Umar  <jUmarB@protonmail.com>
 ***************************************************************************
<% */ %>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <title>TERANGA|Barcode</title>
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script type="text/javascript"  src="assets/js/jquery.js"></script>
        <script type="text/javascript" src="assets/js/JsBarcode.all.min.js"></script>    
        <script type="text/javascript"  src="assets/js/printelement.js"></script>

        <!-- CSS -->
        <link rel="icon" href="assets/images/teranga_Logo_2013_Transparent.png">
        <link rel="stylesheet" type="text/css" href="assets/semantic/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/style/style.css"/>
        <link rel="stylesheet" type="text/css" href="assets/style/barcode.css"/>
        <script src="assets/semantic/semantic.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="logo" align="center">
                <img id="mylogo" src="assets/images/TerangaLogoByMag2020.png" alt="Teranga">
            </div>
            <div class="navigation">
                <div class="blank_space"></div>
                <div id="" class="menu_navbar">
                    <div class="ui secondary pointing menu">
                        <a class="item itemlinks" href="index.php">
                            Home
                        </a>
                        <a class="item itemlinks active" href="barcodePage14x4.php">
                            BarCode
                        </a>
                        <a class="item itemlinks" href="docuwarePage.php">
                            DocuWare
                        </a>
                        <div class="right menu">
                            <a class="ui item" id="logout_Button">
                                Log Out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           <div class="content_content">
                <div class="feature">
                    <div class="feature_body">
                        <div class="ui relaxed divided list">
                            <div class="item">
                                <i class="video middle aligned icon"></i>
                                <div class="content">
                                    <a class="header">TUTORIEL</a>
                                    <div class="description">Comment ça marche?</div>
                                </div>
                            </div>
                            <div class="item">
                                <i class="puzzle middle aligned icon"></i>
                                <div class="content">
                                <a class="header">ATTRIBUTION</a>
                                <div class="description">Les numéros terrain déjà attribués?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--div><button id="yo"></button></div-->
                    <div class="ui modal">
                        <i class="close icon"></i>
                        <div class="header">
                            Modal Title
                        </div>
                        <div class="image content">
                            <div class="image">
                            An image can appear on left or an icon
                            </div>
                            <div class="description">
                            A description can appear on the right
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui button">Cancel</div>
                            <div class="ui button">OK</div>
                        </div>
                    </div>
                    <!-- -->
                </div>
                <div class="content_context">

